.container {
    width: 96%;
    max-width: 1200px;
    margin: auto
}

#activities {
    padding: 50px 0px;
}

#activities .activities__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.activities__wrapper .activities__card {
    padding: 30px 20px;
    background-color: #F5F5F5;
    border-radius: 25px;
    text-align: center;
}

.activities__card .activities__icon {
    font-size: 20px;
    background-color: rgba(215, 130, 190, .1);
    padding: 15px;
    border-radius: 50%;
    display: inline;
    color: rgba(255, 0, 0, .8);
    font-weight: 700;
}

.activities__card .activities__title {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 700;
}

.activities__card .activities__description {
    margin-top: 10px;
    line-height: 28px;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

/* mission-visson */
#mission_vission {
    background-color: #F5F5F5;
    padding: 50px 0px;
}

#mission_vission .mission_vission-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mission_vission-wrapper article {
    padding: 35px;
    background-color: white;
    border-radius: 5px;
}

.mission_vission-wrapper article i {
    font-size: 20px;
    background-color: rgba(215, 130, 190, .1);
    padding: 15px;
    border-radius: 50%;
    display: inline;
    color: rgba(255, 0, 0, .8);
    font-weight: 700;
}

.mission_vission-wrapper article h4 {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 700;
}

.mission_vission-wrapper article p {
    margin-top: 10px;
    line-height: 28px;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

/* gallery */

#gallery {
    background-color: white;
    padding: 50px 0px;
}

#gallery .gallery__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery__wrapper .gallery__featured {
    width: 100%;
    height: 360px;
}

.gallery__featured .gallery__image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery__wrapper .gallery__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery__grid .gallery__item {
    width: calc((100% - 20px) / 2);
    height: 170px;
}

.gallery__item .gallery__image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



/* faculty advisor*/

#faculty-advisors {
    background-color: #F5F5F5;
    padding: 50px 0px;
}

#faculty-advisors .faculty_section__title {
    text-align: center;
    font-size: var(--text-4xl);
    font-weight: 700;
    margin-bottom: 60px;
}

#faculty-advisors .faculty_advisors_slides {
    overflow: hidden;
}

#faculty-advisors .faculty-advisors__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px;
    transition: all .3s ease;
}

.faculty-advisors__wrapper .advisor-card {
    margin: auto;
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
    cursor: pointer;
    position: relative;
    background-color: white;
    text-align: center;
    padding: 70px 0px;
}

.advisor-card .advisor-card__image {
    height: 90px;
    width: 90px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
}

.advisor-card .advisor-card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.advisor-card__image .advisor-card__blood {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
}

.advisor-card__image .advisor-card__blood {}

.advisor-card .advisor-card__details {}

.advisor-card__details .advisor-card__name {
    margin-top: 30px;
    font-size: 20px;
}

.advisor-card__details .advisor-card__designation {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
}

.advisor-card__details .advisor-card__role {
    display: block;
    font-size: 10px;
    font-weight: 700;

    background-color: rgba(215, 130, 190, .1);
    padding: 5px 10px;
    border-radius: 20px;
    color: rgba(255, 0, 0, .8);
    display: inline;
}

.advisor-card__details .advisor-card__info {}

.advisor-card__info .advisor-card__info-item {
    margin-top: 20px;
}

.advisor-card__info-item i {}

.advisor-card__info-item span {
    font-size: var(--text-md);
}

.advisor-card__button {
    display: block;
    text-align: right;
}


/* student-leader */


#student_leadership {
    background-color: white;
    padding: 50px 0px;
}

#student_leadership .leaderShip_section__title {
    text-align: center;
    font-size: var(--text-4xl);
    font-weight: 700;
    margin-bottom: 60px;
}

#student_leadership .student_leader-slides {
    overflow: hidden;
}

#student_leadership .student-leadership__wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 25px;
}

.student-leadership__wrapper .leader-card {
    width: 100%;
    padding: 42px 31px;
    text-align: center;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 30px;
    flex-shrink: 0;
    cursor: pointer;
}

.student-leadership__wrapper .leader-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.leader-card .leader-card__image {
    margin: auto;
    max-width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.student-leadership__wrapper .leader-card:hover .leader-card__image {
    /* background-color: rgba(255, 0, 0, .6); */
}

.leader-card__image .leader__blood {
    position: absolute;
    bottom: -10px;
    left: 40px;
    font-size: 8px;
    /* background-color: red; */
    color: white;
    font-weight: 400;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid white;
}

.leader-card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
}

.leader-card .leader-card__details {}



.leader-card__details .leader-card__name {
    color: black;
    font-size: var(--text-lg);
    font-weight: 600;
    margin-top: 25px;
}

.leader-card__details .leader-card__designation {
    margin-top: 6px;
    font-size: var(--text-md);
    font-weight: 700;
}


.leader-card .leader_card-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.leader_card-info .leader-card__year {
    margin-top: 12px;
    font-size: 7px;
    font-weight: 700;
    display: inline;
    padding: 3px 6px;
    border-radius: 10px;
}

.leader_card-info .leader-card__blood {
    margin-top: 12px;
    font-size: 7px;
    font-weight: 700;
    display: inline;
    padding: 3px 6px;
    border-radius: 10px;
}




/* chief-patron-section */
#chief-patron {
    background-color: white;
    padding: 50px 0px;
}

#chief-patron .section-header {}

.section-header .section-header__subtitle {}

.section-header .section-header__title {}

#chief-patron .chief-patron-card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.chief-patron-card .chief-patron-card__image {
    max-width: 250px;
    height: 270px;
    width: 100%;
    flex-shrink: 0;
}

.chief-patron-card__image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.chief-patron-card .chief-patron-card__content {}

.chief-patron-card__content .chief-patron-card__name {
    font-size: 20px;
    margin-bottom: 15px;
}

.chief-patron-card__content .chief-patron-card__designation {
    font-size: 10px;

    background-color: rgba(215, 130, 190, .1);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline;
    color: rgba(255, 0, 0, .8);
    font-weight: 700;
}

.chief-patron-card__content .chief-patron-card__organization {
    margin-top: 10px;
    font-size: 14px;
}

.chief-patron-card__content .chief-patron-card__message {
    margin-top: 15px;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, .8);
    letter-spacing: 1px;
}




/* department-head */
#department-head {
    background-color: white;
    padding: 50px 0px;
}

#department-head .section-header {}

.section-header .section-header__subtitle {}

.section-header .section-header__title {}

#department-head .department-head__card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    padding: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.department-head__card .department-head__figure {
    max-width: 250px;
    height: 270px;
    width: 100%;
    flex-shrink: 0;
}

.department-head__card .department-head__figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.department-head__card .department-head__content {
    text-align: right;
}

.department-head__content .department-head__name {
    font-size: 20px;
    margin-bottom: 15px;
}

.department-head__content .department-head__designation {
    font-size: 10px;

    background-color: rgba(215, 130, 190, .1);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline;
    color: rgba(255, 0, 0, .8);
    font-weight: 700;
}

.department-head__content .department-head__college {
    margin-top: 10px;
    font-size: 14px;
}

.department-head__content .department-head__message {
    margin-top: 15px;
    font-size: 14px;
    line-height: 27px;
    color: rgba(0, 0, 0, .8);
    letter-spacing: 1px;
}



/* testimonial */
#testimonial {
    padding: 50px 0px;
}

#testimonial .testimonial-show__area {
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}

.testimonial-show__area .testimonial__wrapper {
    display: flex;
    width: 100%;
    gap: 30px;
}

.testimonial__wrapper .testimonial__card {
    width: 100%;
    flex-shrink: 0;
    background-color: #F5F5F5;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

.testimonial__card .rating {}

.rating i {
    font-size: 10px;
    color: rgba(255, 0, 0, .8);
}

.testimonial__card .description {
    margin-top: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, .8);
    font-size: 16px;
}

.testimonial__card .testimonial__profile {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.testimonial__profile .testimonial__profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial__profile .testimonial__profile-content {
    text-align: start;
}

.testimonial__profile-content .testimonial__profile-name {
    font-size: 14px;
}

.testimonial__profile-content .testimonial__profile-year {
    font-size: 10px;
    margin-top: 6px;

    background-color: rgba(215, 130, 190, .1);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline;
    color: rgba(255, 0, 0, .8);
    font-weight: 700;
}

.testimonial__profile-content .testimonial__profile-session {
    font-size: 10px;
    margin-top: 3px;
}

/* policy */
#policy {
    padding: 50px 0px;
    background-color: #F5F5F5;
}

#policy .policy__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.policy__wrapper .policy__card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 0, 0, .2);
}

.policy__card .policy__icon {
    font-size: 20px;
    background-color: rgba(215, 130, 190, .1);
    padding: 15px;
    border-radius: 50%;
    display: inline;
    color: rgba(255, 0, 0, .8);
    font-weight: 700;
}

.policy__card .policy__title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}

.policy__card .policy__description {
    font-size: 14px;
    margin-top: 10px;
    line-height: 25px;
    color: rgba(0, 0, 0, .8);
}

/* faq */
#faq {
    padding: 50px 0px;
}

#faq .faq__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 800px;
    margin: auto;
}

.faq__wrapper .faq__item {
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
}

.faq__item .faq__content {
    padding: 30px 20px;
}

.faq__content .faq__question {
    font-size: 16px;
    font-weight: 700;
    opacity: .8;
}

.faq__content .faq__answer {
    height: 0px;
    overflow: hidden;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

.faq__item .faq__icon-group {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}

.faq__item .faq__icon-group i {
    font-size: 14px;
}

#members {
    padding: 50px 0px;
}

#members .members_slide {
    overflow: hidden;
}

#members .members__wrapper {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.members__wrapper .member__card {
    min-width: calc((100% - 10px) / 2);
    flex: 1;
    padding: 30px 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}

.member__card .member__image {
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.member__card .member__content {
    text-align: center;
}

.member__content .member__name {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.member__content .member__position {
    font-size: 12px;
    background-color: rgba(215, 130, 190, .1);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline;
    color: rgba(255, 0, 0, .8);
}

.member__content .member__info {
    margin-top: 7px;
    font-size: 12px;
}

/* media query */
@media screen and (min-width:584px) {

    /* activites */
    #activities .activities__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .activities__wrapper .activities__card {
        width: calc((100% - 25px) / 2);
    }

    /* mission-vission */
    #mission_vission .mission_vission-wrapper {
        flex-direction: row;
    }

    .mission_vission-wrapper article {
        width: calc((100% - 25px) / 2);
    }


    /* faculty-advisors */
    .faculty-advisors__wrapper .advisor-card {
        margin: none;
        width: calc((100% - 20px) / 2);
    }

    /* policy */
    #policy .policy__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .policy__wrapper .policy__card {
        width: calc((100% - 25px) / 2);
    }


    /* members */
    #members .members__wrapper {}

    .members__wrapper .member__card {
        min-width: calc((100% - 20px) / 3);
    }
}

@media screen and (min-width:768px) {

    /* activites */
    .activities__wrapper .activities__card {
        width: calc((100% - 50px) / 3);
    }


    /* gallery */
    #gallery .gallery__wrapper {
        flex-direction: row;
    }

    .gallery__wrapper .gallery__featured {
        width: 48%;
    }

    .gallery__wrapper .gallery__grid {
        width: 48%;
    }

    /*faculty-advisors */
    .faculty-advisors__wrapper .advisor-card {
        width: calc((100% - 40px) / 3);
    }

    /* student-leader */
    #student_leadership .student-leadership__wrapper {
        gap: 20px;
    }

    .student-leadership__wrapper .leader-card {
        max-width: calc((100% - 20px) / 2);
    }

    /* members */
    .members__wrapper .member__card {
        min-width: calc((100% - 75px) / 4);
    }
}

@media screen and (min-width:1024px) {

    /* activites */
    .activities__wrapper .activities__card {
        width: calc((100% - 75px) / 4);
    }

    /*  #chief-patron .chief-patron-card */
    #chief-patron .chief-patron-card {
        display: flex;
        flex-direction: row;
        gap: 35px;
        align-items: center;
    }

    .chief-patron-card .chief-patron-card__image {
        max-width: 370px;
        height: 420px;
    }

    /*faculty-advisors */
    .faculty-advisors__wrapper .advisor-card {
        width: calc((100% - 60px) / 4);
    }

    /* department-head */

    #department-head .department-head__card {
        display: flex;
        flex-direction: row-reverse;
        gap: 35px;
        align-items: center;
    }

    .department-head__card .department-head__figure {
        max-width: 370px;
        height: 420px;
    }

    /* policy */
    .policy__wrapper .policy__card {
        width: calc((100% - 50px) / 3);
    }

    /* members */
    .members__wrapper .member__card {
        min-width: calc((100% - 40px) / 5);
    }
}

@media screen and (min-width:1200px) {}